@import 'assets/styles/variables.css';
@import 'assets/styles/sidebar.css';
@import 'assets/styles/home_section.css';
@import 'assets/styles/gallery.css';

* {
    box-sizing: border-box;
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
html {
    width: 100%;    
    height: 100%;
    overflow-x: hidden;
}

body {
    --background: hsl(0, 0%, 90%);;
    --lightBackground: hsl(0, 0%, 70%);
    --text: hsl(0, 0%, 5%);
    --secondaryText: hsl(0, 0%, 40%);
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--text);
    font-size: var(--textSize);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

@media (max-width: 767px) {
    body {
        max-width: 100%;
    }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.button {
    cursor: pointer;
    position: relative;
    padding: 15px 20px;
    border: 1px solid var(--secondaryText);
    font-size: var(--textSizeSmall);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    /* --blur: 5px;
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur)); */
    background-color: var(--background);

    .background {
        position: absolute;
        z-index: 0;
        right: 100%;
        background: var(--text);
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;

        transition: height, right;
        transition-duration: .5s;

    }

    p {
        color: var(--background);
        font-weight: 300;
        margin: 0;
        opacity: 0.8;
        mix-blend-mode: exclusion;
    }

    img {
        height: var(--textSize);
        opacity: 0.7;
        margin-bottom: -1px;
        mix-blend-mode: exclusion;
    }

    @media only screen and (min-width: 769px) {
        &:hover {
            .background {
                height: 800%;
                right: -5%;
            }
        }
    }
}

/* Scrollbar */

/* width */
body::-webkit-scrollbar {
    width: 21px;
    height: 10px;
}
  
body::-webkit-scrollbar-track {
    background: var(--background); 
    border: none;
    z-index: -1;
}
   
body::-webkit-scrollbar-thumb {
    background: var(--text); 
    border-radius: 20px;
    border: 8px solid var(--background);
}
  
body::-webkit-scrollbar-thumb:hover {
    background: var(--secondaryText); 
    cursor: move;
}