@import 'assets/fonts.css';
@import 'assets/variables.css';
@import 'assets/navbar.css';
@import 'assets/home_section.css';

* {
    box-sizing: border-box;
    font-family: "Syne-Regular", sans-serif;
}
  
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body.light_mode{
    --background: var(--white);
    --lightBackground: var(--lightgray);
    --text: var(--textLightMode);
    --secondaryText: var(--textSecondarytLightMode);
    --color1: var(--salmon);
    --color2: var(--lightsalmon);
}

body.dark_mode{
    --background: var(--black);
    --lightBackground: var(--darkslategray);
    --text: var(--textDarkMode);
    --secondaryText: var(--textSecondarytDarkMode);
    --color1: var(--cadetblue);
    --color2: var(--steelblue);
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

@media (max-width: 767px) {
    body {
        max-width: 100%;
    }
}

h1, h2, h3, h4, h1 *, h2 *, h3 *, h4 * {
    font-family: "Syne-Bold", sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#leftLine {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: var(--leftLineOffset);
    width: var(--lineThickness);
    height: 100%;
    background: var(--lightBackground);
}