#home_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_section .main_content {
    margin-top: 5vh;
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(10 * var(--columnSize));

    /* border: 1px solid red; */

    @media only screen and (max-width: 767px) {
        width: calc(5 * var(--columnSize));
    }

    p {
        text-transform: uppercase;
        font-size: calc(var(--headerFontSize) / 6);

        margin: 0;
        white-space: nowrap;

        @media only screen and (max-width: 767px) {
            font-size: var(--textSizeSmall);
        }

        &.welcome {
            animation: translateOutLeft linear;
            animation-timeline: scroll(y);
        }
    }

    h1 {
        font-family: "BDOGrotesk", Arial, Helvetica, sans-serif;
        margin: 0;
        margin-left: calc(var(--headerFontSize) * -0.08); /* to get rid of that space between the 1st letter and the bounding box */
        font-size: var(--headerFontSize);
        line-height: calc(var(--headerFontSize) * 0.8); /* to get rid of that space above and under the letters and the bounding box */
        /* border: 1px solid red; */

        &.lubin {
            z-index: -2; /* "Lubin" behind the image */
            /* animation: lubinIn 2s cubic-bezier(0,0,0,1); */
            animation: translateOutLeft linear;
            animation-timeline: scroll();
            animation-range: cover 5%;
        }

        &.pappalardo {
            margin: calc(var(--headerFontSize) * 0.1) 0;
            margin-left: auto; /* "Pappalardo" to the right */
            animation: translateOutRight linear;
            overflow: hidden;
            animation-timeline: scroll();
            animation-range: cover 15%;
        }
    }

    img {
        position: absolute;
        bottom: 30%;
        left: 30%;
        z-index: -1;
        height: 110%;

        animation: fadeOut linear;
        animation-timeline: scroll(y);
    }

    .bottom_row {
        display: flex;
        position: relative;
        gap: calc(var(--padding) / 2);

        animation: translateOutLeft linear;
        animation-timeline: scroll(y);
        animation-range: cover 25%;

        h1 {
            font-family: "BoogyBrut", 'Times New Roman', Times, serif;
        }

        #hobbies {
            text-transform: uppercase;
            height: calc(var(--headerFontSize) * 0.8);
            overflow: hidden;
            position: relative;
            cursor: pointer;

            .hobbies_wrap {
                display: flex;
                flex-direction: column;
                animation: hobbies var(--homeSectionAnimationDuration) infinite cubic-bezier(.27,0,.18,1.13);
            }
            
            span {
                height: calc(var(--headerFontSize) * 0.8);
                white-space: nowrap;
            }
        }

        .hobbies_list {
            display: flex;
            position: absolute;
            right: 0;
            flex-direction: column;
            height: 100%;

            @media only screen and (max-width: 1200px) {
                top: calc(100% + var(--padding) / 4);
            }
            
            /* border: 1px solid red; */

            p {
                font-size: var(--textSize);
                color: var(--secondaryText);
                animation: hobbiesList var(--homeSectionAnimationDuration) infinite linear;
                cursor: pointer;

                @media only screen and (max-width: 1200px) {
                    font-size: var(--textSizeSmall);
                    text-align: right;
                }

                &:nth-child(1) {
                    animation-delay: 0s;
                }

                &:nth-child(2) {
                    animation-delay: calc(var(--homeSectionAnimationDuration) * 0.33);
                }

                &:nth-child(3) {
                    animation-delay: calc(var(--homeSectionAnimationDuration) * 0.66);
                }
            }
        }
    }
}

#home_section .desc {
    position: absolute;
    bottom: 0;
    width: calc(3 * var(--columnSize));
    text-align: center;
    color: var(--secondaryText);

    animation: fadeOut linear;
    animation-timeline: scroll(y);
    animation-range: cover 50%;
}

#hobbies_cursor {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background: var(--text);
    transform: translate(-75%, -25%);
    z-index: 1000;
    pointer-events: none;

    circle { 
        fill: var(--text);
    }

    path {
        stroke: var(--background);
    }
}

@media only screen and (min-width: 768px) {
    #home_section:has(#hobbies:hover) #hobbies_cursor {
        display: flex;
    }
}

@keyframes hobbies {
    0% {
        transform: translateY(0);
    }
    28.33% { transform: translateY(0); }
    33.33% {
        transform: translateY(-25%);
    }
    61.66% { transform: translateY(-25%); }
    66.66% {
        transform: translateY(-50%);
    }
    95% { transform: translateY(-50%); }
    100% {
        transform: translateY(-75%);
    }
}

@keyframes hobbiesList {
    0%, 28.33% {
        color: var(--text);
    }
    33.33%, 95% {
        color: var(--secondaryText);
    }
    100% {
        color: var(--text);
    }
}

@keyframes translateOutLeft {
    to {
        opacity: 0;
        transform: translateX(-80%);
    }
}

@keyframes translateOutRight {
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}