#home_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme_toggle {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 20px;
    left: var(--padding);
    width: 22px;
    height: 22px;
    padding: 2px;
    cursor: pointer;
    overflow: hidden;

    .theme_toggle_wrap {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform .3s;
       
        /* border: 1px solid red; */

        img {
            position: absolute;
            height: 100%;
            transition: transform .5s;
        }

        &:hover {
            transform: scale(1.1);
        }

        .light_mode {
            transform: translateY(0%);
            transition-delay: .5s;
        }
        .dark_mode {
            transform: translateY(calc(100% + 2px));
            transition-delay: 0s;
        }
    }

    &.light_mode .theme_toggle_wrap {

        .light_mode {
            transform: translateY(calc(100% + 2px));
            transition-delay: 0s;
        }
        .dark_mode {
            transform: translateY(0%);
            transition-delay: .5s;
        }
    }
}

#language_toggle {
    position: absolute;
    bottom: 5px;
    right: var(--padding);
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--secondaryText);
    font-size: var(--textSizeSmall);
    /* border: 1px solid red; */

    p {
        cursor: pointer;
        /* margin: 0; */
    }

    .language_indicator {
        display: flex;
        height: 2px;
        width: 40px;
        background: var(--lightBackground);
        overflow: hidden;

        .active {
            height: 2px;
            width: 20px;
            background: var(--secondaryText);
            transition: transform .5s cubic-bezier(.63,-0.43,.3,1);
        }
    }

    &:has(.language_fr:hover) .active {
        transform: translate(100%);
    }
 
}

#home_section .main_content {
    margin-top: 10vh;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: calc(10 * var(--columnSize));

    /* border: 1px solid red; */

    @media only screen and (max-width: 767px) {
        width: calc(5 * var(--columnSize));
    }

    p {
        text-transform: uppercase;
        font-size: calc(var(--headerFontSize) / 6);

        margin: 0;
        white-space: nowrap;

        @media only screen and (max-width: 767px) {
            font-size: var(--textSizeSmall);
        }
    }

    h1 {
        font-family: "BDOGroteskLight", Arial, Helvetica, sans-serif;
        margin: 0;
        margin-left: calc(var(--headerFontSize) * -0.08); /* to get rid of that space between the 1st letter and the bounding box */
        font-size: var(--headerFontSize);
        line-height: calc(var(--headerFontSize) * 0.8); /* to get rid of that space above and under the letters and the bounding box */
        /* border: 1px solid red; */

        &#lubin {
            z-index: -1; /*"Lubin" behind the image */
        }
    }

    .home_section_image_wrap {
        position: absolute;
        bottom: 30%;
        left: 30%;
        height: 120%;
        z-index: 0;
        aspect-ratio: 1 / 1;
    }

    #home_section_image {
        width: 100%;
        height: 100%;
        /* bottom: calc(var(--headerFontSize) * 0.8); */
        /* left: calc(var(--headerFontSize) * 2.6); */
        
        
        /* height: calc(var(--headerFontSize) * 3.2); */
        

        @media only screen and (max-width: 767px) {
            height: 150%;
            left: 10%;
            bottom: 40%;
            z-index: -1;
        }

        img {
            position: absolute;
            height: 100%;
        }

        @media only screen and (min-width: 768px) {
            &:hover {
                /* border: 1px solid red; */
                .foreground {
                    filter: saturate(0.8) contrast(1) !important;
                }
                /* .background {
                    filter: saturate(0.8) contrast(1) brightness(1) opacity(0.8) !important;
                } */
            }
        }

        .foreground {
            z-index: -1;
            right: 0;
            filter: saturate(0) contrast(1.1);
            -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
            mask-image: radial-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
            transition: filter .5s;
        }

        .background_wrap {
            position: absolute;
            top: 0;
            right: 0;
            width: 80%;
            height: 100%;
            overflow: hidden;
            z-index: -2;
            /* border: 1px solid red; */

            @media only screen and (max-width: 767px) {
                width: 70%;
            }
        }

        .background {
            height: 100%;
            right: 0;
            filter: saturate(0) contrast(0.9) brightness(0.4);
            -webkit-mask-image: linear-gradient(to bottom, 
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 10%, 
                rgba(0, 0, 0, 1) 10%, 
                rgba(0, 0, 0, 1) 60%, 
                rgba(0, 0, 0, 0) 90%
            );
            mask-image: radial-gradient(to bottom, 
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) 10%, 
                rgba(0, 0, 0, 1) 10%, 
                rgba(0, 0, 0, 1) 60%, 
                rgba(0, 0, 0, 0) 90%
            );
            transition: filter .5s;
        }
    }

    .middle_row {
        display: flex;
        align-items: flex-end;
        /* border: 1px solid red; */
        gap: calc(var(--padding) / 2);
        margin: calc(var(--headerFontSize) * 0.1) 0;
        margin-left: auto; /* stick to the right */
        position: relative;
        z-index: 2;

        @media only screen and (max-width: 767px) {
            margin-left: none;
            width: 100%;
            justify-content: center;
        }

        #pappalardo {
            z-index: 2;
        }
    }

    .hobbies_list {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: bottom;
        height: 100%;

        /* @media only screen and (max-width: 1200px) {
            top: calc(100% + var(--padding) / 4);
        } */
        
        /* border: 1px solid red; */

        p {
            font-size: var(--textSize);
            color: var(--secondaryText);
            animation: hobbiesList var(--homeSectionAnimationDuration) infinite linear;
            cursor: pointer;
            text-align: right;

            @media only screen and (max-width: 1200px) {
                font-size: var(--textSizeSmall);
            }

            &:nth-child(1) {
                animation-delay: 0s;
            }

            &:nth-child(2) {
                animation-delay: calc(var(--homeSectionAnimationDuration) * 0.25);
            }

            &:nth-child(3) {
                animation-delay: calc(var(--homeSectionAnimationDuration) * 0.5);
            }

            &:nth-child(4) {
                animation-delay: calc(var(--homeSectionAnimationDuration) * 0.75);
            }
        }
    }

    .bottom_row {
        display: flex;
        position: relative;
        margin-left: auto; /* stick to the right */
        gap: calc(var(--padding) / 2);

        h1 {
            font-family: "BoogyBrut", 'Times New Roman', Times, serif;
        }

        #hobbies {
            text-transform: uppercase;
            height: calc(var(--headerFontSize) * 0.8);
            overflow: hidden;
            position: relative;
            cursor: pointer;

            .hobbies_wrap {
                display: flex;
                flex-direction: column;
                animation: hobbies var(--homeSectionAnimationDuration) infinite cubic-bezier(.27,0,.18,1.13);
            }
            
            span {
                height: calc(var(--headerFontSize) * 0.8);
                white-space: nowrap;
            }
        }        
    }
}

#home_section .desc {
    position: absolute;
    bottom: 0;
    width: calc(3 * var(--columnSize));
    text-align: center;
    color: var(--secondaryText);
    /* border: 1px solid red; */

    @media only screen and (max-width: 767px) {
        text-align: left;
        left: var(--padding);
        bottom: 15%;
    }
}

#hobbies_cursor {
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background: var(--text);
    transform: translate(-75%, -25%);
    z-index: 1000;
    pointer-events: none;

    circle { 
        fill: var(--text);
    }

    path {
        stroke: var(--background);
    }
}

@media only screen and (min-width: 768px) {
    #home_section:has(#hobbies:hover) #hobbies_cursor {
        display: flex;
    }
}

@keyframes hobbies {
    0% {
        transform: translateY(0);
    }
    20% { transform: translateY(0); }
    25% {
        transform: translateY(-20%);
    }
    45% { transform: translateY(-20%); }
    50% {
        transform: translateY(-40%);
    }
    70% { transform: translateY(-40%); }
    75% {
        transform: translateY(-60%);
    }
    95% { transform: translateY(-60%); }
    100% {
        transform: translateY(-80%);
    }
}

@keyframes hobbiesList {
    0%, 25% {
        color: var(--text);
    }
    30%, 95% {
        color: var(--secondaryText);
    }
    100% {
        color: var(--text);
    }
}

