#navbar {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbarHeight);
    background: var(--background);
    border-bottom: var(--lineThickness) solid var(--lightBackground);

    display: flex;
    align-items: center;

    padding: 0 var(--padding);
}

#navbar .nav_logo {
    position: relative;
    /* width: var(--leftLineOffset); */
    height: 100%;
    display: grid;
    place-items: center;
    /* border: 1px solid red; */

    svg {
        height: 40%;
        width: auto;
        /* height: auto; */

        path {
            fill: var(--text);
        }
    }
}

#navbar .nav_links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 40px;

    @media only screen and (max-width: 1000px) {
        display: none;
    }
    
    a {
        color: var(--text);
        text-decoration: none;

        &.active {
            text-decoration: underline;
        }
    }
    
}

#navbar .nav_language {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 40px;

    @media only screen and (max-width: 1000px) {
        display: none;
    }

    p {
        cursor: pointer;
    }

    .language_indicator {
        display: flex;
        height: 2px;
        width: 40px;
        background: var(--lightBackground);
        overflow: hidden;

        .active {
            height: 2px;
            width: 20px;
            background: var(--color1);
            transition: transform .5s cubic-bezier(.63,-0.43,.3,1);
        }
    }

    &:has(.language_fr:hover) .active {
        transform: translate(100%);
    }
 
}

#navbar .nav_contactme {
    padding: 10px 20px;
    /* margin-right: 40px; */
    border-radius: 5px;
    background: var(--text);
    color: var(--background);    

    @media only screen and (max-width: 1000px) {
        display: none;
    }
}

#hamburger_menu {
    display: none;

    @media only screen and (max-width: 1000px) {
        display: flex;
        cursor: pointer;
        margin-left: auto;

        height: 40px;
    }
}