#navbar {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbarHeight);
    font-size: var(--textSizeSmall);
    color: var(--secondaryText);

    /* border: 1px solid red; */

    display: flex;
    align-items: center;

    padding: 0 var(--padding);
}

#navbar .nav_porfolio {
    display: flex;
    width: 100%;
    font-size: var(--textSize);
    text-transform: uppercase;

    /* border: 1px solid red; */

    @media only screen and (max-width: 767px) {
        font-size: var(--textSizeBig);
    }
}

#navbar .nav_contactme {
    position: relative;
    padding: 10px 20px;
    border: 1px solid var(--secondaryText);
    display: flex;
    align-items: center;
    overflow: hidden;
    min-width: min-content;
    margin-left: auto;

    @media only screen and (max-width: 1000px) {
        display: none;
    }

    .background {
        position: absolute;
        right: 100%;
        background: var(--text);
        /* background: white; */
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;

        transition: height, right;
        transition-duration: .5s;
    }

    p {
        color: var(--text);
        margin: 0;
        mix-blend-mode: difference;
    }

    &:hover {
        .background {
            height: 800%;
            right: -5%;
        }
    }

}
 

#hamburger_menu {
    --boxSize: 30px;
    --padding: calc(0.0 * var(--boxSize));
    width: var(--boxSize);
    aspect-ratio: 1;
    overflow: hidden;
    /* border: 1px solid red; */

    @media only screen and (min-width: 1001px) {
        display: none;
    }

    .container {
        position: relative;
        height: 100%;
        transition: transform 1s;
    }

    .line {
        position: absolute;
        width: calc(100% - 2 * var(--padding));
        height: calc(0.05 * var(--boxSize));
        background-color: var(--secondaryText);
    }

    .upper {
        left: 50%;
        top: 50%;
        transform-origin: center;
            transform: translate(
        -50%, 
        calc(-50% - (var(--boxSize) * 0.1))
        );
        transition: transform 1s, top 1s, left 1s, width 1s;
    }

    .lower {
        left: 50%;
        top: 50%;
        transform-origin: center;
        transform: translate(
        -50%, 
        calc(-50% + (var(--boxSize) * 0.1))
        );
        transition: transform 1s, bottom 1s, left 1s, width 1s;
    }

    &.opened .upper {
        transform: translate(-50%, -50%) rotate(45deg);
        width: calc(var(--boxSize) * 0.8);
    }

    &.opened .lower {
        transform: translate(-50%, -50%) rotate(-45deg);
        width: calc(var(--boxSize) * 0.8);
    }
}

#mobile_menu {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100vh;
    z-index: 9997;
    background-color: var(--background);
    transition: transform 0.5s;

    @media only screen and (max-width: 1000px) {
        &.opened {
            transform: translateX(0%);
        }
    }
    
}