#photography_section {
    display: flex;
    z-index: 2;
    height: 200vh;
}

#photography_main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: var(--navbarHeight);
    /* border: 1px solid red; */
    overflow: hidden;
}

#featured_photography {
    display: flex;
    height: max-content;
    gap: calc(var(--padding) / 2);
    padding: 0 var(--padding);
    transform: translateY(-150%);

    /* border: 1px solid red; */

    div {
        width: 100%;

        img {
            width: 100%;
            aspect-ratio: 5/7;
            object-fit: cover;
        }

        p {
            color: var(--secondaryText);
        }
    }

}

#photography_section .section_info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    justify-content: space-between;
    padding: calc(var(--padding) / 2) var(--padding);

    /* border: 1px solid red; */

    .left_group {
        display: flex;
        flex-direction: column;
        gap: calc(var(--padding) / 4);

        /* border: 1px solid red; */

        .section_subtitle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: var(--textSizeBig);

            /* border: 1px solid red; */

            p { margin: 0; }

            .section_tags {
                display: flex;
                color: var(--secondaryText);
            }
        }

        .section_title {
            font-size: var(--sectionTitleFontSize);
            line-height: calc(var(--sectionTitleFontSize) * 0.8);
            padding-right: calc(var(--sectionTitleFontSize) * 0.1);
            font-style: normal;
            margin: 0;
            overflow: hidden;

            /* border: 1px solid red; */
        }
    }

    .right_group {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc(4 * var(--columnSize));
        gap: calc(var(--padding) / 2);

        /* border: 1px solid red; */

        .section_call_to_action {
            width: calc(3 * var(--columnSize));
            padding: 15px 0;
            border: 1px solid var(--secondaryText);
            outline: none;
            background: none;
            text-transform: uppercase;
            font-size: var(--textSizeBig);
        }

        .section_desc {
            color: var(--secondaryText);
            margin: 0;
        }
    }
}