:root {
    /* --- Colors --- */

    --black: hsl(0, 0%, 7%);
    --darkgrey: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 90%);
    --lightgrey: hsl(0, 0%, 80%);

    --textDarkMode: hsl(0, 0%, 80%);
    --secondaryTextDarkMode: hsl(0, 0%, 50%);

    --textLightMode: hsl(0, 0%, 20%);
    --secondaryTextLightMode: hsl(0, 0%, 50%);

    /* --- Other Values --- */

    --navbarHeight: 80px;

    --lineThickness: 1px;

    --headerFontSize: calc(0.7rem + 8vw);
    --textSizeSmall: 12px;
    --textSize: 14px;
    --textSizeBig: 16px;
    --padding: 40px;

    --homeSectionAnimationDuration: 8s;

    /* Divided in 12 columns with 40px padding left and right */
    --columnSize: calc((100% - 2 * var(--padding)) / 12);
}

@media only screen and (max-width: 768px) {
    :root {
        --padding: 20px;
        --navbarHeight: 60px;
        --textSizeSmall: 10px;
        --textSize: 12px;
        --textSizeBig: 14px;

        /* Divided in 5 columns with 20px padding left and right */
        --columnSize: calc((100% - 2 * var(--padding)) / 5);
    }
}