@font-face {
    font-family: 'BDOGrotesk';
    src: url('../fonts/BDOGrotesk.woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'BDOGroteskLight';
    src: url('../fonts/BDOGrotesk.woff2');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'BoogyBrut';
    src: url('../fonts/BoogyBrut.woff2');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}