:root {
    /* --- Colors --- */

    --black: hsl(0, 0%, 5%);
    --darkgrey: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 90%);
    --lightgrey: hsl(0, 0%, 70%);

    --textDarkMode: hsl(0, 0%, 90%);
    --secondaryTextDarkMode: hsl(0, 0%, 50%);

    --textLightMode: hsl(0, 0%, 10%);
    --secondaryTextLightMode: hsl(0, 0%, 40%);

    /* --- Other Values --- */

    --sidebarWidth: 20%;
    --mobileBarHeight: 100px;

    --lineThickness: 1px;

    --textSizeSmall: calc(0.4rem + 0.5vw);
    --textSize: calc(0.5rem + 0.55vw);
    --textSizeBig: calc(1rem + 0.8vw);
    --padding: 1vw;

    /* Divided in 12 columns with 40px padding left and right */
    --columnSize: calc((100vw - 2 * var(--padding)) / 12);
}

@media only screen and (max-width: 768px) {
    :root {
        --padding: 20px;
        --textSizeSmall: 14px;
        --textSize: 16px;
        --textSizeBig: 22px;
    }
}

@media only screen and (max-width: 1100px) { 
    :root {
        --sidebarWidth: 30%;
    }
}

@media only screen and (min-width: 2000px) {
    :root {
        --sidebarWidth: 15%;
    }
}